<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>用户中心</title>
<link rel="stylesheet" type="text/css" href="/h5/css/hui.css" />
</head>
<body>
<header class="hui-header">
    <div id="hui-back"></div>
    <h1>用户中心</h1>
</header>
<div class="hui-wrap">
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <a href="javascript:hui.toast('Hello UI !');" style="height:auto; height:80px; padding-bottom:8px;">
            <div class="hui-list-icons" style="width:110px; height:80px;">
                <img src="/h5/img/list/home.png" style="width:66px; margin:0px; border-radius:50%;" />
            </div>
            <div class="hui-list-text" style="height:79px; line-height:79px;">
                <div class="hui-list-text-content">
                    王大锤
                </div>
                <div class="hui-list-info">
                    点击更新 <span class="hui-icons hui-icons-right"></span>
                </div>
            </div>
        </a>
        <a href="javascript:hui.toast('Hello UI !');">
            <div class="hui-list-text">
                账户余额 : 1000元 | 积分 : 2000
            </div>
        </a>
    </div>

    <div style="background:#FFFFFF;padding:10px;margin-top:10px;">
        <div class="hui-speed-dial">
            <ul>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-my"></span></div>
                    <div class="hui-speed-dial-text">我的账户</div>
                </li>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-like"></span></div>
                    <div class="hui-speed-dial-text">我的喜欢</div>
                </li>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-water-fall"></span></div>
                    <div class="hui-speed-dial-text">我的钱包</div>
                </li>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-star"></span></div>
                    <div class="hui-speed-dial-text">我的收藏</div>
                </li>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-clone"></span></div>
                    <div class="hui-speed-dial-text">我的下载</div>
                </li>
                <li>
                    <div class="hui-speed-dial-icons"><span class="hui-icons hui-icons-write"></span></div>
                    <div class="hui-speed-dial-text">我的创作</div>
                </li>
            </ul>
        </div>
    </div>


    <div style="background:#FFFFFF;padding:10px;">
        <div class="hui-speed-dial">
            <ul></ul>
        </div>
    </div>

    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <ul>
            <li>
                <a href="/payment/index/charge">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/money.png" />
                    </div>
                    <div class="hui-list-text">
                        账户充值
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/payment/index/voucher">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/card.png" />
                    </div>
                    <div class="hui-list-text">
                        卡券兑换
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/sc.png" />
                    </div>
                    <div class="hui-list-text">
                        我的收藏
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/ht.png" />
                    </div>
                    <div class="hui-list-text">
                        我的话题
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
               <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/order.png" />
                    </div>
                    <div class="hui-list-text">
                        我的订单
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
               <li>
                <a href="javascript:void(0);">
                    <div class="hui-list-icons">
                        <img src="/h5/img/list/lishi.png" />
                    </div>
                    <div class="hui-list-text">
                        历史足迹
                        <div class="hui-list-info">
                            <span class="hui-icons hui-icons-right"></span>
                        </div>
                    </div>
                </a>
               </li>
        </ul>
    </div>
    <div style="background:#FFFFFF; margin-top:28px;">
        <button type="button" class="hui-button hui-button-large" onclick="hui.toast('退出');">
            <span class="hui-icons hui-icons-logoff"></span>退出系统
           </button>
    </div>
</div>

<div id="hui-footer">
    <a href="javascript:hui.toast('首页');" id="nav-home">
        <div class="hui-footer-icons hui-icons-home"></div>
        <div class="hui-footer-text">首页</div>
    </a>
    <a href="javascript:hui.toast('新闻');" id="nav-news">
        <div class="hui-footer-icons hui-icons-news"></div>
        <div class="hui-footer-text">新闻</div>
    </a>
    <div style="width:20%; text-align:center;" class="hui-fl">
        <img src="/h5/img/applogo.png" height="44" />
    </div>
    <a href="javascript:hui.toast('社区');" id="nav-forum">
        <div class="hui-footer-icons hui-icons-forum"></div>
        <div class="hui-footer-text">社区</div>
    </a>
    <a href="javascript:hui.toast('我的');" id="nav-my">
        <div class="hui-footer-icons hui-icons-my"></div>
        <div class="hui-footer-text">我的</div>
    </a>
</div>


<script type="text/javascript" src="/h5/js/hui.js" charset="UTF-8"></script>

<script type="text/javascript">
var icons = [   'hui-icons-menu', 'hui-icons-toast', "hui-icons-menu","hui-icons-img",
                "hui-icons-left","hui-icons-number", "hui-icons-up","hui-icons-down",
                "hui-icons-down2","hui-icons-progress", "hui-icons-success","hui-icons-range",
                "hui-icons-warn","hui-icons-tab", "hui-icons-loading","hui-icons-picker",
                "hui-icons-eyes","hui-icons-home", "hui-icons-switch","hui-icons-news",
                "hui-icons-swipe","hui-icons-my", "hui-icons-forum","hui-icons-nav",
                "hui-icons-menu-point","hui-icons-star", "hui-icons-msg","hui-icons-water-fall" ,
                "hui-icons-search","hui-icons-register" , "hui-icons-write","hui-icons-check" ,
                "hui-icons-loading2","hui-icons-clone" , "hui-icons-remove","hui-icons-like" ,
                "hui-icons-pause","hui-icons-stop" , "hui-icons-shopping-cart"
        ];
var html  = '';
for(var i = 0; i < icons.length; i++){
    html += '<li>'+
        '<div class="hui-speed-dial-icons">'+
            '<span class="hui-icons '+icons[i]+'"></span>'+
        '</div>'+
        '<div class="hui-speed-dial-text">'+icons[i].replace('hui-icons-', '')+'</div>';
    '</li>';
    //hui('.hui-speed-dial ul').html(html);
}
</script>

</body>
</html>